*{padding:0;margin:0;}
.blind{position:absolute;width:1px;height:1px;clip:rect(0,0,0,0);margin:-1px;overflow:hidden;}
#header{background:#0076ff;color:#fff;padding:10px 20px;}
#header h1{font-size:18px;}
.lst_item .item{display:flex;flex-direction:column;position:relative;padding:20px;border-bottom:1px solid #f5f6f7;}
.lst_item .item .tit_area{display:flex;gap:10px;}
.lst_item .item .btn_delete{position:absolute;top:50%;transform:translateY(-50%);right:20px;}
.lst_item .item .tit{font-size:16px;color:#111112;}
.lst_item .item .info_area{display:flex;gap:10px;margin-top:4px;font-size:14px;color:#949699;}
.lst_item .item .btn_delete{padding:0 5px;}
.modal{padding:20px;color:#949699;}
.modal .tit{font-size:16px;}
.modal .desc{font-size:13px;}
.input_area{display:flex;gap:10px;justify-content:center;align-items:center;margin-top:20px;}